html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 26px;
}

html .container {
    max-width: 1140px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.head nav {
    display: flex;
}

.head nav .header_right {
    display: flex;
}